<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_4_0.xsd" id="WebApp_ID" version="4.0">
  <display-name>MVC</display-name>
  
  <!-- 서블릿 등록(@WebServlet과 동일기능) -->
   <servlet>
	<servlet-name>usingFile</servlet-name>
	<servlet-class>mvc.controller.ControllerUsingFile</servlet-class>
	<init-param>
		<param-name>configFile</param-name>
		<param-value>/WEB-INF/commandHandler.properties</param-value>
	</init-param> 
</servlet>

<servlet>
	<servlet-name>ControllerUsingURI</servlet-name>
	<servlet-class>mvc.controller.ControllerUsingURI</servlet-class>
	<init-param>
		<param-name>configFile2</param-name>
		<param-value>
			/WEB-INF/commandHandlerURI.properties
		</param-value>
	</init-param>
</servlet>

<!-- servlet call -->
<servlet-mapping>
	<servlet-name>usingFile</servlet-name>
	<url-pattern>/usingFile</url-pattern>
	<!-- <url-pattern>/a</url-pattern>  url패턴은 여러개 설정가능(같은 서블릿 실행)-->
</servlet-mapping>

  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
  
</web-app>