@charset "utf-8"; 
section3-1.inner {width:1180px; margin:0 auto;}
section3-3.inner {width:1180px; margin:0 auto;}

table{
	margin: auto;
	text-align:top;
}
th{
	text-align: left;
	vertical-align: top;
}
#t-leg{
	text-align:left;
	 font-family:'나눔고딕', san-serif ;
	 font-weight: 690;
	 color:#3b3b3b; font-size:18pt;
}
span{
	text-align:left;
	font-family:'나눔고딕', san-serif ;
	 font-weight: 690;
	 color:#3b3b3b; font-size:9pt;
}
img{
	display:block;
	margin-left:auto;
	margin-right:auto;
}