<?xml version="1.0" encoding="UTF-8"?> 
<!DOCTYPE mapper 
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" 
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="registerMapper">
	<!-- 회원가입 -->
	<insert id="userRegister"
		parameterType="hils.Register.Model.RegisterDto">
		insert into users_register
		(user_id, password, user_phone, user_email, regi_date)
		values
		(#{user_id}, #{password}, #{user_phone}, #{user_email}, sysdate)
	</insert>

	<insert id="userRegister2"
		parameterType="hils.Register.Model.RegisterDto">
		insert into users_profile
		(user_id)
		values
		(#{user_id})
	</insert>

	<!-- 소셜로그인 이메일만 -->
	<insert id="emailRegister" parameterType="hils.Register.Model.RegisterDto">
		insert into users_register (user_id)
		values (#{user_email})
	</insert>
	
	<!-- 프로필에 등록 -->
	<!-- 소셜로그인 이메일만 -->
	<insert id="emailRegister2" parameterType="hils.Register.Model.RegisterDto">
		insert into users_profile (user_id)
		values (#{user_email})
	</insert>
	
	<!-- 아이디 중복체크 -->
	<select id="idCheck" resultType="int">
		select COUNT(*) FROM users_register
		where user_id = #{user_id}
	</select>

	<!-- 이메일 중복체크 -->
	<select id="emailCheck" resultType="int">
		select COUNT(*) FROM users_register
		where user_email = #{user_email}
	</select>

</mapper>